.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

.text-number {
  font-size: 20px;
}

.question-btn {
  width: 150px;
  font-size: 16px;
  color: #ffffff;
  background-color: #9ddfd3;
  border: none;
  box-shadow: 10px 10px 14px -9px rgba(166,153,166,1);
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px 0;
  cursor: pointer;
  transition: 0.4s;
}

.question-btn:hover {
  background-color: #dbf6e9;
}

.question-btn:focus {
  background-color: #ffffff;
  color: #62626b;
  outline: #31326f solid 1px;
}

.question-btn:disabled {
  opacity: 0.4;
}
 